<div class="event">
  <div class="content">
    <div class="summary">
      <!-- displays users and messages associated with each user -->
      <em><%= message.user.username %></em>:&nbsp; 
          <%= message.body %>
    </div>
  </div>
</div>